.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25rem;
  margin: 0 auto;

  .col-1 {
    grid-column: span 1;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-5 {
    grid-column: span 5;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 7;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-9 {
    grid-column: span 9;
  }

  .col-10 {
    grid-column: span 10;
  }

  .col-11 {
    grid-column: span 11;
  }

  .col-12 {
    grid-column: span 12;
  }

  .start-1 {
    grid-column-start: 1;
  }

  .start-2 {
    grid-column-start: 2;
  }

  .start-3 {
    grid-column-start: 3;
  }

  .start-4 {
    grid-column-start: 4;
  }

  .start-5 {
    grid-column-start: 5;
  }

  .start-6 {
    grid-column-start: 6;
  }

  .start-7 {
    grid-column-start: 7;
  }

  .start-8 {
    grid-column-start: 8;
  }

  .start-9 {
    grid-column-start: 9;
  }

  .start-10 {
    grid-column-start: 10;
  }

  .start-11 {
    grid-column-start: 11;
  }

  .start-12 {
    grid-column-start: 12;
  }

  .end-1 {
    grid-column-end: 1;
  }

  .end-2 {
    grid-column-end: 2;
  }

  .end-3 {
    grid-column-end: 3;
  }

  .end-4 {
    grid-column-end: 4;
  }

  .end-5 {
    grid-column-end: 5;
  }

  .end-6 {
    grid-column-end: 6;
  }

  .end-7 {
    grid-column-end: 7;
  }

  .end-8 {
    grid-column-end: 8;
  }

  .end-9 {
    grid-column-end: 9;
  }

  .end-10 {
    grid-column-end: 10;
  }

  .end-11 {
    grid-column-end: 11;
  }

  .end-12 {
    grid-column-end: 12;
  }
}

.btn {
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.8px 4px 0px;
  text-align: center;
  padding: 1em 1.5em;
  font-weight: bold;
}
